a {
color: #cc0000;
text-decoration:none;
}

a:focus, a:hover {
color: #990000;
text-decoration:none;
}

body,td,th {
	font-family: 'Helvetica';
	font-size: 15px;
	font-weight: 400
}
papertitle {
	font-family: 'Helvetica';
	font-size: 16px;
	font-weight: 1000
}
strong {
	font-family: 'Helvetica';
	font-size: 15px;
	font-weight: 800
}
heading {
	font-family: 'Helvetica';
	font-size: 24px;
	font-weight: 600
}

subheading {
	font-family: 'Helvetica';
	font-size: 18px;
	font-weight: 600
}


bibtext {
  font-family: monospace;
	font-size: 14px;
}
