<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }} | Samvit Jain</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/text.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/text.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/style.css" type="text/css" media="screen, projection" />
	{% if page.title == "How to Pick Your Next Gig: Evaluating Startups - Part I" %}
		<meta property="og:image" content="http://samvitjain.com/blog/assets/evaluating-startups/startup.png" />
		<meta property="og:image:width" content="3000" />
		<meta property="og:image:height" content="2001" />
		<meta property="og:description" content="This blog post is based on my experience interviewing with a range of tech companies during my junior year at Princeton. At the end of the process, I had to make a choice between a large public company, a then recently-minted unicorn, and a then-Series B startup with 100 employees based in San Francisco.
		This piece attempts to codify how I went about making my decision, and in particular, lays out a methodology for how to evaluate startups. Though I’m writing primarily for recent college graduates, I’ve tried to make the discussion generally applicable to anyone looking to work for a small company." />
		<meta property="og:url" content="http://www.samvitjain.com/blog/evaluating-startups/" />
		<meta property="og:title" content="How to Pick Your Next Gig: Evaluating Startups" />
	{% endif %}
</head>
<body>
  <div id="header">
    <h1><a href="http://www.samvitjain.com">Samvit Jain</a> :: <a href="{{ site.baseurl }}">blog</a></h1>
<span>Machine learning, data systems, and beyond</span>
  </div>
  <hr />
<div class="content">
    {{ content }}
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102797768-1', 'auto');
  ga('send', 'pageview');
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript">
 MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['\\(','\\)']],
    processEscapes: true
  }
});</script>
</body>
</html>
