---
layout: default
---

<article class="post">

<h1 class="post-title">{{ page.title }}</h1>
<p class="post-date"><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_string }}</time></p>

{{ content }}

<p class="post-follow">You can follow me on Twitter <a href="https://twitter.com/Samvit_Jain">here</a>.</p>

</article>

<section class="post-more">
	<h2>Read more</h2>
	<ul class="post-list">
	{% for post in site.posts %}{% if post.url != page.url %}
		<li>
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			<span class="post-list-date">{{ post.date | date_to_string }}</span>
		</li>
	{% endif %}{% endfor %}
	</ul>
</section>

<section class="post-comments">
	<div id="disqus_thread"></div>
	<script>
	var disqus_config = function () {
		this.page.url = "{{ site.url }}{{ site.baseurl }}{{ page.url }}"; // Must stay absolute: this is the Disqus thread key
		this.page.identifier = "{{ page.id }}";
	};
	(function() {
		var d = document, s = d.createElement('script');
		s.src = 'https://samvit-jain.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
